radio[pane=paneRedirect] > .radio-check {
  list-style-image: url("resource://mailredirect-shared/redirect.svg");
}

radio[pane=paneRedirect] {
  list-style-image: url("resource://mailredirect-shared/icon.png");
}

#xToolTip {
  -moz-binding: url("resource://mailredirect-shared/xtooltip.xml#xtooltip");
  padding: 0px !important;
}
