#bounceTree treechildren::-moz-tree-row(odd) {
  background-image: url("chrome://messenger/skin/icons/row.png");
  background-position: bottom;
  background-repeat: repeat-x;
}

#bounceTree treechildren::-moz-tree-row(notsent) {
  background-color: red;
}

#bounceTree treechildren::-moz-tree-cell-text(notsent) {
  color: white;
}
